<h1>Roster</h1>

<table>
  <thead>
    <tr>
      <th>Ranking</th>
      <th>       </th>
      <th>Name</th>
      <th>       </th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rosters.each do |roster| %>
      <tr>
        <td><%= roster.ranking %></td>
        <th>       </th>
        <td><%= roster.name %></td>
        <th>       </th>
        <td><%= roster.position %></td>
        <td><%= link_to 'Show', roster %></td>
        <% if roster.user == current_user %>
          <td><%= link_to 'Edit', edit_roster_path(roster) %></td>
          <td><%= link_to 'Destroy', roster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Roster', new_roster_path %>
<% end %>
