<div>
  <strong>Ranking:</strong>
  <%= @roster.ranking %>
</div>

<div>
  <strong>Name:</strong>
  <%= @roster.name %>
</div>

<div>
  <strong>Position:</strong>
  <%= @roster.position %>
</div>

<% if @roster.user == current.user %>
<%= link_to 'Edit', edit_roster_path(@roster) %> |
<% end %>

<%= link_to 'Back', rosters_path %>
