<div>
  <strong>Ranking:</strong>
  <%= @roster.ranking %>
</div>

<div>
  <strong>Name:</strong>
  <%= @roster.name %>
</div>

<div>
  <strong>Position:</strong>
  <%= @roster.position %>
</div>

<%= link_to 'Edit', edit_roster_path(@roster) %> |

<%= link_to 'Back', rosters_path %>
