<center><h1>Depth Chart</h1></center>

<center>
<button type="button" class="btn btn-default"><%= link_to 'Roster', players_path %></button>
<button type="button" class="btn btn-default"><%= link_to 'Dynasty Rankings', rankings_players_path %></button>
<button type="button" class="btn btn-default"><%= link_to 'Depth Chart', depthchart_players_path %></button>
<button type="button" class="btn btn-default"><%= link_to 'Trade Machine', trademachine_players_path %></button>
</center>

<div class="row">
 <div class="row col-md-2">
    <table class="table">
      <thead>
        <tr>
          <th>QB</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>     
          <tr>
            <% if player.position == "QB" %>   
              <td><%= link_to player.player, edit_player_path(player) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

<div class="row col-md-2">
    <table class="table">
      <thead>
        <tr>
          <th>RB</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>     
          <tr>
            <% if player.position == "RB" %>   
              <td><%= link_to player.player, edit_player_path(player) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row col-md-2">
    <table class="table">
      <thead>
        <tr>
          <th>WR</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>     
          <tr>
            <% if player.position == "WR" %>   
              <td><%= link_to player.player, edit_player_path(player) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row col-md-2">
    <table class="table">
      <thead>
        <tr>
          <th>TE</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>     
          <tr>
            <% if player.position == "TE" %>   
              <td><%= link_to player.player, edit_player_path(player) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row col-md-2">
    <table class="table">
      <thead>
        <tr>
          <th>D</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>     
          <tr>
            <% if player.position == "DL" || player.position == "LB" || player.position == "DB" %>   
              <td><%= link_to player.player, edit_player_path(player) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row col-md-2">
    <table class="table">
      <thead>
        <tr>
          <th>K</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>     
          <tr>
            <% if player.position == "K" %>   
              <td><%= link_to player.player, edit_player_path(player) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<center><button type="button" class="btn btn-default"><%= link_to 'Add a New Player', new_player_path %></button></center>
<br>
