<center><h1>Roster</h1></center>

<center>
<button type="button" class="btn btn-default"><%= link_to 'Roster', players_path %></button>
<button type="button" class="btn btn-default"><%= link_to 'Dynasty Rankings', rankings_players_path %></button>
<button type="button" class="btn btn-default"><%= link_to 'Depth Chart', depthchart_players_path %></button>
</center>

<div class="row">
 <div class="row col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Player</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td>QB</td>
            <% @qb.each do |player| %>      
                <td><%=link_to player.player, edit_player_path(player) %></td>
          </tr>
        <% end %>

        <tr>
          <td>RB</td>
            <% @rb1.each do |player| %>      
                <td><%=link_to player.player, edit_player_path(player) %></td>
          </tr>
        <% end %>

        <tr>
          <td>RB</td>
            <% @rb2.each do |player| %>      
                <td><%=link_to player.player, edit_player_path(player) %></td>
          </tr>
        <% end %>

        <tr>
          <td>WR</td>
            <% @wr1.each do |player| %>      
                <td><%=link_to player.player, edit_player_path(player) %></td>
          </tr>
        <% end %>

        <tr>
          <td>WR</td>
            <% @wr2.each do |player| %>      
                <td><%=link_to player.player, edit_player_path(player) %></td>
          </tr>
        <% end %>

        <tr>
          <td>TE</td>
            <% @te.each do |player| %>      
                <td><%=link_to player.player, edit_player_path(player) %></td>
          </tr>
        <% end %>

        <tr>
          <% count = 0 %>
              <% for player in @flex %>
              <% if count < 2 %>
                <td>FLEX</td>      
                <td><%=link_to player.player, edit_player_path(player) %></td>
                <% count += 1 %>
                <% end %>
                
            </tr>
          <% end %>

        <tr>
          <td>DL</td>
            <% @dl.each do |player| %>      
                <td><%=link_to player.player, edit_player_path(player) %></td>
          </tr>
        <% end %>

        <tr>
          <td>LB</td>
            <% @lb.each do |player| %>      
                <td><%=link_to player.player, edit_player_path(player) %></td>
          </tr>
        <% end %>

        <tr>
          <td>DB</td>
            <% @db.each do |player| %>      
                <td><%=link_to player.player, edit_player_path(player) %></td>
          </tr>
        <% end %>

        <tr>
          <td>K</td>
            <% @k.each do |player| %>      
                <td><%=link_to player.player, edit_player_path(player) %></td>
          </tr>
        <% end %>

    
      </tbody>
    </table>
</div>
</div>

<center><button type="button" class="btn btn-default"><%= link_to 'Add a New Player', new_player_path %></button></center>
<br>

