<p>
  <strong>Player:</strong>
  <%= @player.player %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Overall ranking:</strong>
  <%= @player.overall_ranking %>
</p>

<p>
  <strong>Positional ranking:</strong>
  <%= @player.positional_ranking %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>

<center><button type="button" class="btn btn-default"><%= link_to 'Add Another Player', new_player_path %></button></center>
<br>

